<%= error_messages_for :article %>
<% form_for @article do |f| %>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>w
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :subject %><br />
    <%= f.text_area :subject %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
