<%= error_messages_for :concert %>
<% form_for @concert do |f| %>
  <p>
    <%= f.label :concert_date %>:<br />
    <%= f.date_select :concert_date %>
  </p>
  <p>
    Venue:&nbsp;&nbsp;&nbsp;
	<%= link_to "Add Venue to List", new_venue_path %><br />
    <%= f.select(:venue_id, Venue.all.collect {|v| [ v.name, v.id ] }, { :include_blank => true })%>
  </p>
  <p>
    <%= f.label :bands %>:<br />
    <%= f.text_area :bands %>
  </p>
  <p>
    <%= f.label :description %>:<br />
    <%= f.text_area :description %>
  </p>

  <p><%= f.submit "Submit" %></p>
<% end %>
